body{
  box-sizing: border-box;
  margin: 0 auto;  

  }


  .output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .dayCard {
    border: solid 5px #9190b2;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color:#eceaf0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .foodBlock{
    background-color:#9db0ca54;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
  }
  
  .dayCard h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .mealCards {
    margin-bottom: 10px;
  }
  
  .mealCards h2 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .mealCards p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .dayCard p {
    margin-top: 10px;
    margin-right: 1em;
    font-size: 14px;
    color: #9190b2;
    text-align: center;
  }

  .calories{
    display: flex;
    justify-content: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .btn:active {
    background-color: #3e8e41;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .modal-content li{ 
    border-bottom: solid 2px #747f75;
  }